<div class="hourly" [class.active]="isOpen">
  @for (foreCast of foreCast; track $index) {
    <div
      class="hourlyWeather"
      [ngClass]="{ currentHour: isCurrentHour(foreCast.datetimeEpoch) }"
      scrollToView
    >
      @if (isCurrentHour(foreCast.datetimeEpoch)) {
        <span>
          <i class="fa-solid fa-clock"></i>
          Current time
        </span>
      }

      <p class="date">
        {{ foreCast.datetimeEpoch | dateFormat }}
      </p>
      <p class="timeP">{{ foreCast.datetime | formatTime }}</p>
      <p class="temp">{{ foreCast.temp | roundTemp }} °C</p>
      <p class="cond">{{ foreCast.conditions }}</p>
    </div>
  }
</div>
