@mixin flex($justify: center, $align: center, $direction: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin space-between($justify: space-between) {
  display: flex;
  justify-content: $justify;
}
