<main>
  <video
    autoplay
    loop
    [muted]="'muted'"
    [src]="currentBackground()"
    class="bgVideo"
    playsinline
  ></video>

  @if (searchBar()) {
    <app-search (searchValue)="stateService.searchValue.set($event)" />
  }

  @if (weatherData(); as Data) {
    <div class="wrapper">
      <div class="side-container">
        <app-hourly-container [hourlyForecasts]="Data?.days?.[0]?.hours" />
      </div>

      <div class="middle-container">
        <app-weather-data [weatherData]="Data" />
      </div>
    </div>
  }
</main>
