<main>
  <video
    autoplay
    loop
    [muted]="'muted'"
    [src]="setBg()"
    class="bgVideo"
    playsinline
  ></video>
  @if (searchBar()) {
    <div class="searchBar">
      @if (loadingScreen()) {
        <ngx-cube-loader class="customLoader" colorSet="cyan"></ngx-cube-loader>
      }

      @if (userLocationSearch()) {
        <div class="inputs">
          <form (submit)="submitUserSearch($event)">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [formControl]="locationSearch"
            />
            <button class="btn btn-outline-primary" type="submit">
              Search
            </button>
          </form>
          @if (userLocationSearch()) {
            <p>could not find geo location please enter your location</p>
          }
        </div>
      }
    </div>
  }
  @if (searchLocation()) {
    <div class="wrapper">
      <div class="side-container">
        <app-hourly-container [hourlyForecasts]="hourly()" />
      </div>

      <div class="middle-container">
        @if (displayWeather()) {
          <app-weather-data [weatherData]="displayWeather()" />
        }
      </div>
    </div>
  }
</main>
