<nav class="navbar" *ngIf="isHeaderVisible">
  <div class="nav-wrap">
    <form role="search" (submit)="search($event)">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search for location"
        aria-label="Search"
        [formControl]="searchControl"
      />
      <button class="search-btn" type="search">Search</button>
    </form>
    <div class="liveClock">
      <p *ngIf="clockLoading">Loading Local Clock...</p>
      <p>
        {{ displayClock }}
      </p>
    </div>
    <div class="nav-left">
      <a href="https://github.com/Luka288" target="_blank" class="correct">
        <span>
          <i class="fa-brands fa-github"></i>
        </span>
        Luka288
      </a>
    </div>
  </div>
</nav>
